.cost-wr {
    gap: 135px;
    padding-top: 108px;
    padding-bottom: 200px;
    padding-left: 40px;
    padding-right: 40px;
}

.cost-note {
    margin-top: 40px;
    font-weight: 700;
    font-size: 18px;
    color: #16392D;
}

.cost-fm {
    margin-top: 32px;
    flex-direction: column;
    gap: 20px;
}

.cost-fm .input-bl {
    gap: 20px;
}

.cost-fm label {
    display: block;
    width: 326px;
    font-weight: 500;
    font-size: 28px;
    color: #16392D;
}

.cost-fm input {
    display: block;
    width: 324px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 8px;
    border: 1px solid #3D3C39;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: #979797;
}

.cost-fm input::placeholder {
    color: #979797;
}

.cost-fm textarea {
    display: block;
    width: 324px;
    height: 120px;
    padding-top: 12px;
    padding-left: 8px;
    border: 1px solid #3D3C39;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: #979797;
}

.input-bl-subject input {
    padding-left: 38.5px;
    color: #DA9D27;
}

.input-bl-subject input::placeholder {
    color: #DA9D27;
}

.cost-fm textarea::placeholder {
    color: #979797;
}

.cost-fm .budget-box,
.cost-fm .guests-box,
.cost-fm .events-box {
    width: 324px;
    flex-wrap: wrap;
    gap: 16px;
}

.cost-fm .budget-item,
.cost-fm .guests-item,
.cost-fm .events-item {
    width: 154px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #3D3C39;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    color: #3D3C39;
}

.cost-fm .input-date {
    width: 154px;
    text-align: center;
}

.cost-fm .events-item__question {
    width: 324px;
}

.cost-fm-info {
    flex-direction: column;
    gap: 30px;
    margin-top: 88px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    line-height: 1.4;
    color: #3D3C39;
}

.cost-fm-info p span {
   color: #DA9D27;
}

.cost-fm-send {
    width: 200px;
    margin-top: 88px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #04867E;
}

.events-proposition-title {
    margin-bottom: 72px;
    max-width: 555px;
    font-weight: 500;
    font-size: 28px;
    color: #3E1063;
}

.events-proposition-download {
    display: block;
    width: 240px;
    margin-top: 24px;
    margin-left: 315px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 1px solid #DA9D27;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #DA9D27;
}

.events-select-content {
    margin-top: 32px;
    flex-direction: column;
    gap: 28px;
}

.events-select-title {
    font-weight: 500;
    font-size: 28px;
    color: #16392D;
}

.events-select-box {
    margin-top: 20px;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 18px;
}

.events-select-item {
    width: 268px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    border: 1px solid #3D3C39;
    border-radius: 4px;
    font-size: 16px;
    color: #3D3C39;
}

.events-select-fm {
    margin-top: 48px;
}

.events-select-fm .select-fm-note {
    width: 538px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #3D3C39;
}

.events-select-fm textarea {
    width: 554px;
    height: 120px;
    margin-top: 24px;
    padding-top: 12px;
    padding-left: 8px;
    border: 1px solid #3D3C39;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: #3D3C39;
}

.events-select-fm .captcha-wr {
    margin-top: 40px;
    gap: 43px;
}

.events-select-fm .captcha-wr label {
    display: block;
    font-size: 16px;
    color: #3D3C39;
}

.events-select-fm .captcha-wr input {
    display: block;
    width: 180px;
    height: 72px;
    padding-top: 8px;
    padding-left: 8px;
    border: 1px solid #3D3C39;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: #3D3C39;
}
