.home-about {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    background-color: #FDFDFD;
}

.home-about-desc {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 786px;
    margin-top: 24px;
    font-size: 20px;
    line-height: 1.2;
    color: #3D3C39;
}

.home-about-desc::before {
    content: '';
    display: block;
    width: 95px;
    height: 2px;
    flex-shrink: 0;
    background-color: #A76E00;
}

.home-about .chat-title {
    font-size: 20px;
    color: #3E1063;
}

.home-about .chat-btn {
    display: block;
    width: 240px;
    margin-top: 42px;
    margin-left: 99px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 1px solid #3D3C39;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #04867E;
}

.home-protocol {
    padding-top: 108px;
    padding-bottom: 113px;
    padding-left: 40px;
    padding-right: 40px;
    background: url('/public/images/home-protocol-bg.png') no-repeat;
}

.home-protocol-title {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #FDFDFD !important;
}

.home-protocol-title::after {
    content: '';
    display: block;
    width: 384px;
    height: 2px;
    background: url("/public/images/line1.svg") no-repeat;
}

.home-protocol-box {
    margin-top: 48px;
}

.home-protocol-item {
    width: 324px;
    height: 440px;
    padding-top: 8px;
    padding-left: 24px;
    background-color: #F8F1E9;
    border-radius: 8px;
}

.protocol-item-title {
    font-weight: 500;
    font-size: 28px;
    color: #A76E00;
}

.protocol-item-list {
    list-style-type: none;
    margin-top: 24px;
}

.protocol-item-list li {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.4;
    color: #3D3C39;
}

.protocol-item-list li:last-child {
    margin-bottom: 0;
}

.home-design {
    padding-top: 180px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 46px;
    background-color: #FDFDFD;
}

.home-design-title {
    display: flex;
    align-items: center;
    gap: 48px;
}

.home-design-title::before {
    content: "";
    display: block;
    width: 433px;
    height: 2px;
    background-color: #A76E00;
}

.home-design-img {
    width: fit-content;
    margin: 40px auto;
    margin-bottom: 0;
}

.home-design-more {
    margin-left: 0;
}

.home-services {
    padding-top: 78.23px;
    padding-bottom: 48.76px;
    padding-left: 40px;
    padding-right: 40px;
    background: #979797 url("/public/images/home-services-bg.png") no-repeat;
    background-position-y: 78.23px;
    background-position-x: 40px;
}

.home-services-title {
    display: flex;
    align-items: center;
    gap: 48px;
    color: #FDFDFD !important;
}

.home-services-title::after {
    content: '';
    display: block;
    width: 913px;
    height: 2px;
    background-color: #FDFDFD;
}

.home-services-box {
    margin-top: 32px;

}

.home-services-item {
    width: 658px;
    height: 256px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F8F1E9;
    border-radius: 8px;
}

.home-services-item:nth-child(2) .services-item-bl {
    justify-content: flex-end;
}

.services-item-bl {
    margin-bottom: 16px;
}

.services-item-bl:last-child {
    margin-bottom: 0;
}

.home-services-item:nth-child(1) .services-item-bl {
    gap: 20px;
}

.home-services-item:nth-child(2) .services-item-bl {
    gap: 8px;
}

.services-item-bl .services-item-line {
    height: 2px;
    background-color: #A76E00;
}

.home-services-item:nth-child(1) .services-item-bl:nth-child(2) .services-item-line {
    width: 88px;
}

.home-services-item:nth-child(1) .services-item-bl:nth-child(3) .services-item-line {
    width: 176px;
}

.home-services-item:nth-child(1) .services-item-bl:nth-child(4) .services-item-line {
    width: 264px;
}

.home-services-item:nth-child(2) .services-item-bl:nth-child(1) .services-item-line {
    width: 440px;
}

.home-services-item:nth-child(2) .services-item-bl:nth-child(2) .services-item-line {
    width: 382px;
}

.home-services-item:nth-child(2) .services-item-bl:nth-child(3) .services-item-line {
    width: 98px;
}

.services-item-title {
    font-weight: 500;
    font-size: 28px;
    color: #3D3C39;
}

.home-thematic {
    padding-top: 108px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FDFDFD;
}

.home-thematic-title span {
    display: block;
    text-align: right;
}

.home-thematic-box {
    margin-top: 40px;
}

.thematic-info-title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 28px;
    color: #DA9D27;
}

.thematic-info-desc {
    width: 537px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
    color: #3D3C39;
}

.thematic-info-desc:nth-child(3) {
    margin-bottom: 0;
}

.home-thematic-more {
    margin-top: 40px;
    margin-left: 0;
}

.home-video {
    padding-top: 100px;
    padding-bottom: 48px;
    padding-left: 40px;
    background: url('/public/images/home-video-bg.png') no-repeat;
}

.home-video-title {
    display: flex;
    align-items: center;
    gap: 48px;
    color: #F8F1E9 !important;
}

.home-video-title::after {
    content: '';
    display: block;
    width: 981px;
    height: 2px;
    background-color: #F8F1E9;
}

.home-video-content {
    width: 1200px;
    margin: 32px auto;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 22px;
    background-color: #F8F1E9;
}

.video-content-title {
    font-size: 16px;
    text-align: center;
    color: #3E1063;
}

.video-content-img {
    width: fit-content;
    margin: 24px auto;
    margin-bottom: 0;
}

.home-news {
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FDFDFD;
}

.home-news-title {
    display: flex;
    align-items: center;
    gap: 48px;
}

.home-news-title::before {
    content: '';
    display: block;
    width: 798px;
    height: 2px;
    background-color: #A76E00;
}

.home-news-box {
    margin-top: 24px;
}

.home-news-item {
    width: 438px;
}

.home-news-item .news-item-date {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 18px;
    color: #3E1063;
}

.home-news-item .news-item-title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 28px;
    color: #DA9D27;
}

.home-news-know {
    margin: 32px auto;
    margin-bottom: 0;
}