.header {
    gap: 75px;
}

.header-info {
    gap: 131px;
}

.header-contacts {
    gap: 128px;
}

.header-social {
    gap: 8px;
}

.header-contacts-item {
    font-size: 16px;
    color: #A76E00;
}

.header-login-btn {
    display: block;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #A76E00;
}

.header-bar {
    margin-top: 19px;
    gap: 40px;
    padding-top: 17px;
    border-top: 2px solid #979797;
}

.header-nav {
    list-style-type: none;
    gap: 40px;
}

.header-nav-item a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #A76E00;
}

.header-nav-item a:hover {
    color: #FFFFFF;
}

.header-form-search {
    width: 174px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 4px;
}

.header-form-search input {
    display: block;
    width: 80%;
    padding-left: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 18px;
    color: #979797;
}

.header-form-search input::placeholder {
    color: #979797;
}

.header-form-search button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}