* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.home-about-title,
.home-protocol-title,
.home-design-title,
.home-services-title,
.home-thematic-title,
.home-video-title,
.home-news-title,
.about-features-title,
.about-place-title,
.about-solutions-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 56px;
  color: #A76E00;
}

.home-about-more,
.home-design-more,
.home-thematic-more,
.home-news-know,
.about-features-more {
  display: block;
  width: 240px;
  margin-top: 32px;
  margin-left: 435px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border: 1px solid #FDFDFD;
  border-bottom: 1px solid #3D3C39;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #04867E;
}